@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Montserrat&display=swap');

.page-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Montserrat";
  
    .container {
      display: flex;
      flex-direction: column;
      width: 1200px;
    }
  

    h1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 0rem;
        text-align: center;
        font-family: 'Libre Baskerville';
    }
    
    h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
        text-align: center;
        font-family: 'Libre Baskerville';
    }

    section {
        margin-bottom: 3rem;
    }

    span {
        margin-bottom: 1rem;
        display: block;
        line-height: 1.5rem;
    }

}